.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Style for the columns */
  .col-md-4,
  .col-md-6,
  .col-md-2 {
    padding: 10px;
  }
  
  /* Style for the images */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style for the select dropdown */
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  /* Style for the button */
  button {
    padding: 10px 20px;
    background-color: #007bff; /* Change to your desired button color */
    color: #fff;
    border: none;
    cursor: pointer;
  }