table {
    width: 100%;
    max-width: 400px; /* Adjust this width as needed */
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  table tr {
    margin-bottom: 10px;
  }
  
  table td {
    padding: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  label[for="image"] {
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  span.error-message {
    color: red;
  }
  
  img.profile-picture {
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  /* Add more custom styles as needed */
  