/* .profilna{
    margin-top: 50px;
    margin-left: 30px;
}

.info{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
} */

/* Add your custom styles here */

.greska{
    color: red;
}


.row {
    margin-bottom: 20px;
}

/* Navigation bar styles */


.navbar a {
    font-size: 24px;
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}

/* Profile image styles */
.profilna {
    max-width: 100%;
    height: auto;
}

/* Profile information styles */
.info {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}



/* Update button styles */
button {
    background-color: darkblue;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #001f3f;
}