<div class="container-fluid">
    <div class="row" style="background-color: aquamarine;">
        <div class="col-sm-4" style="text-align: left;">
            <a routerLink=""><img src="../../assets/Screenshot 2023-08-11 221223.png" alt="LOGO" routerLink=''></a>
        </div>
        
    </div>
</div>
<table class="registration-table" style="margin-top: 30px;">
    <tr>
        <td>Firstname</td>
        <td><input type="text" [(ngModel)]="firstname"></td>
    </tr>
    <tr>
        <td>Lastname</td>
        <td><input type="text" [(ngModel)]="lastname"></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input type="text" [(ngModel)]="username" (focusout)="testUsername()"></td>
    </tr>
    <tr>
        <td colspan="2">
            <span *ngIf="badUsername">{{this.badUsername}}</span>
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" [(ngModel)]="password"  (focusout)="testPassword()"></td>
    </tr>
    <tr>
        <td colspan="2">
            <span *ngIf="badPassword">{{badPassword}}</span>
        </td>
    </tr>
    <tr>
        <td>Confirm Password</td>
        <td><input type="password" [(ngModel)]="password2"  (focusout)="testPassword2()"></td>
    </tr>
    <tr>
        <td colspan="2">
            <span *ngIf="badPassword2">{{badPassword2}}</span>
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" [(ngModel)]="email"  (focusout)="testEmail()"></td>
    </tr>
    <tr>
        <td colspan="2">
            <span *ngIf="badEmail">{{badEmail}}</span>
        </td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td><input type="text" [(ngModel)]="telephone"  (focusout)="testTelephone()"></td>
    </tr>
    <tr>
        <td colspan="2">
            <span *ngIf="badTelephone">{{badTelephone}}</span>
        </td>
    </tr>
    <tr>
        <td>Adress</td>
        <td><input type="text" [(ngModel)]="adress"></td>
    </tr>
    <tr>
        <td>Profile picture</td>
        <td>
            <div class="profile-picture">
                <label for="image" class="profile-picture-label">
                    <img src="../assets/default.jpg" height="50px">
                </label>
                <input type="file" id="image" value="image" #imageInput>
            </div>
            <img [src]="url" height="100px" *ngIf="url">
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <button (click)="register()" class="register-button">Register</button><br>
            <span *ngIf="cantRegister" class="error-message">{{cantRegister}}</span>
        </td>
    </tr>
</table>

